services:
  spotweb:
    image: rayures/spotweb-docker:latest
    container_name: spotweb-docker-app
    restart: always
    ports:
      - "80:80"
    environment:
      - TZ: Europe/Amsterdam
      - VERSION: master
      - DB_ENGINE: PSQL
      - BD_HOST: spotweb-docker-db
      - DB_PORT: 5432
      - DB_NAME: spotweb
      - DB_USER: XXXX
      - DB_PASS: XXXX
      
   Postgres:
    container_name: spotweb-docker-db
    image: postgres: alpine
    restart: always
    volumes:
      - spotweb-docker/db:/var/lib/postgresql/data
      - /etc/localtime:/etc/localtime:ro
    environment:
      - POSTGRES_USER: XXXX
      - POSTGRES_PASSWORD: XXXX
      - POSTGRES_DB: spotweb
