services:
  spotweb:
    image: rayures/spotweb-docker:latest
    container_name: spotweb-docker-app
    restart: always
    ports:
      - "80:80"
    volumes:
    - spotweb-docker/app/:/config
    environment:
      - TZ: Europe/Amsterdam
      - VERSION: master
      - DB_TYPE: pdo_psqlL
      - BD_HOST: spotweb-docker-db
      - DB_PORT: 5432
      - DB_NAME: spotweb
      - DB_USER: XXXX
      - DB_PASS: XXXX
      - SPOTWEB_CRON_RETRIEVE=0 * * * * #every hour
      - SPOTWEB_CRON_CACHE_CHECK=* 4 * * * #every day at 04.00
      
   Postgres:
    container_name: spotweb-docker-db
    image: postgres: alpine
    restart: always
    volumes:
      - spotweb-docker/db:/var/lib/postgresql/data
      - /etc/localtime:/etc/localtime:ro
    environment:
      - POSTGRES_USER: XXXX
      - POSTGRES_PASSWORD: XXXX
      - POSTGRES_DB: spotweb
